body {
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.section.one,
.footer {
    background-color: #1f2937;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 13rem;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.links {
    display: flex;
    align-self: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 24px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

/* First section */

.section.one {
    padding: 7rem 13rem;
}

.presentation {
    display: flex;
    align-items: center;
    gap: 48px;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

.right-side {
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #e5e7eb;
    background-color: #6d747d;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    width: fit-content;
    padding: 8px 32px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #3882f6;
    cursor: pointer;
}

.sign-up.first {
    border: 2px solid #3882f6;
}

.sign-up.first:hover {
    color: #3882f6;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
}

/* Second section */

.section.two {
    padding: 3rem 13rem 7rem;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1f2937;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.img-placeholder {
    width: 160px;
    height: 160px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.subtext {
    width: 160px;
    font-size: 18px;
    text-align: center;
    color: #4b5563;
}

/* Third section */

.section.three {
    display: flex;
    flex-direction: column;
    padding: 8rem 18rem 7rem;
    background-color: #e5e7eb;
}

.quote {
    font: italic 300 36px 'Roboto', 'Helvetica', Arial, sans-serif;
    color: #1f2937;
}

.attribution {
    font-size: 24px;
    font-weight: 700;
    text-align: end;
    color: #1f2937;
}

/* Fourth section */

.section.four {
    padding: 6rem 13rem;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 7rem;
    border-radius: 8px;
    background-color: #3882f6;
}

.action-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta-main {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.cta-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up.second {
    border: 2px solid #ffffff;
}

.sign-up.second:hover {
    color: #3882f6;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

/* Footer */

.footer {
    padding: 2.5rem 0;
    font-size: 18px;
    text-align: center;
    color: #f9faf8;
}