body {
    font-family: 'Roboto', 'Helvetica', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header,
.section-one,
footer {
    background-color: #1f2937;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 13rem;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

nav {
    display: flex;
    align-self: flex-end;
}

.links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    gap: 24px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

/* First section */

.section-one {
    padding: 7rem 13rem;
}

.presentation {
    display: flex;
    align-items: center;
    gap: 48px;
}

.left-side,
.right-side {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.gym {
    border-radius: 16px;
}

.sign-up {
    width: fit-content;
    padding: 8px 32px;
    border-radius: 9px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background-color: #3882f6;
    cursor: pointer;
}

.sign-up:hover {
    transition: all 0.3s ease;
}

.sign-up.first {
    border: 2px solid #3882f6;
}

.sign-up.first:hover {
    color: #3882f6;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

/* Second section */

.section-two {
    padding: 3rem 13rem 7rem;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

h2 {
    margin: 0;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1f2937;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.img-container {
    max-width: 160px;
    max-height: 160px;
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.info-image {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.subtext {
    width: 160px;
    font-size: 16px;
    text-align: center;
    color: #4b5563;
}

/* Third section */

.section-three {
    display: flex;
    flex-direction: column;
    padding: 8rem 18rem 7rem;
    background-color: #e5e7eb;
}

q {
    font: italic 300 36px 'Roboto', 'Helvetica', Arial, sans-serif;
    color: #1f2937;
}

.attribution {
    font-size: 24px;
    font-weight: 700;
    text-align: end;
    color: #1f2937;
}

/* Fourth section */

.section-four {
    padding: 6rem 13rem;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 7rem;
    border-radius: 8px;
    background-color: #3882f6;
    gap: 1rem;
}

.action-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta-main {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.cta-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up.second {
    border: 2px solid #ffffff;
    text-wrap: nowrap;
}

.sign-up.second:hover {
    color: #3882f6;
    background-color: #ffffff;
}

/* Footer */

footer {
    padding: 2.5rem 0;
    font-size: 18px;
    text-align: center;
    color: #f9faf8;
}

/* Fonts */

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-LightItalic.woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Black.woff');
    font-weight: 900;
    font-style: normal;
}